input[type="radio"] + label {
}

input[type="radio"] {
  display: inline-block;
}

.radioGroup {
  width: auto;
  display: inline-block;
  padding: 0;

  & input[type="radio"]:checked + label {
    background-color: #26a69a !important;
  }
.btn {
  background-color: #1e8ab9;
  border-radius: 5px;
  margin: 2px 2px 2px 2px;
  text-align: center;
  font-size: 1.5em;
  width: auto;
  display: block;
  box-shadow: none;
  color: black;
  font-family: sans serif;
  text-shadow: 3px -2px 10px white;
}
}
