<div class=" radioGroup">
    <input
      [id]="id"
      [name]="name"
      [value]="value"
      [type]="type"
      [checked]="checked"
      [disabled]="disabled"
      [autofocus]="autofocus ? 'autofocus' : ''"
      [formControl]="formControl"
    >
    <label class="btn" [for]="id" [id]="id" [ngClass]="">{{value}}</label>
</div>
